body {
    display: flex;
    flex-direction: column;
}
    
.header {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-style: solid; 
}

.header-title {
    font-size: 36px;
    margin-left: 50px;
    font-weight: 800;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    border-style: solid;
    gap: 20px;
}

.intro .left {
    padding: 10px 20px;
}

.intro .title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.intro .text {
    font-size: 20px;
}

.intro button {
    font-size: 20px;
    padding: 8px;
}

.intro img {
    width: 400px;
    height: auto;
    margin:10px 20px;
}

.info{
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.info .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    border-style: solid;
}


.bottom{
    display: flex;
    justify-content: space-between;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-style: solid;
}

.caption img {
    width: 150px;
    height: auto;
}

.caption .text {
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.quote .text{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
}
.quote .author{
    display: flex;
    justify-content: right;
    margin-right: 35%;
    font-size: 24px;
}

.sign-up {
    display: flex;
    gap: 100px;
    border-style: solid;
    margin: 20px 100px;
    padding: 20px;
    justify-content: space-between;
}
