body {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
    
.header {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-style: solid; 
}

.header-title {
    font-size: 24px;
    margin-left: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

